<h1>Task Timer</h1>
<% @tasks.each do |task| %>
  <p>
		<% if task.running %>
	    <%= link_to "Start", tasks_start_path %>
		<% else %>
		  <%= link_to "Stop", tasks_stop_path %>
		<% end %>
			 <%= task.name %>, <%= task.total_time %></p>
<% end %>